/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

@media (max-width: 992px) { 
    .nav-ul {
        align-items: center;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.84);
        justify-content: space-around;
        border-radius: 10px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}